<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       ">
        <bean id="user" class="com.springtry.domain.User"></bean>
        <bean id="smallStore" class="com.springtry.domain.SmallStore">
            <property name="user" ref="user"/>
        </bean>
        <bean id="mall" class="com.springtry.domain.Mall">
            <property name="smallStore" ref="smallStore"></property>
            <property name="mallName" value="天河新天地"/>
        </bean>
        <bean id="mallDao" class="com.springtry.dao.impl.MallDaoImpl"></bean>
        <bean id="smallStoreDao" class="com.springtry.dao.impl.SmallStoreDaoImpl"></bean>

    <context:component-scan base-package="com.springtry.service"/>
    <context:component-scan base-package="com.springtry.dao"/>
</beans>