<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
                            http://www.springframework.org/schema/context  http://www.springframework.org/schema/aop/spring-context.xsd
">
<!--配置目标对象-->
    <bean id="target" class="org.example.aop.Target" ></bean>
<!--  切面对象-->
    <bean id="myAspect" class="org.example.aop.MyAspect"></bean>
<!-- 配置织入-->
    <aop:config>
    <!-- 声明切面       -->
        <aop:aspect ref="myAspect">
            <!-- 前置增强，pointcut代表需要增强的方法  -->
        <!--        <aop:before method="before" pointcut="execution(public void org.example.aop.*.*())"></aop:before>-->
            <aop:pointcut id="myPointcut" expression="execution(public void org.example.aop.*.*())"/>
            <aop:around method="around" pointcut-ref="myPointcut"></aop:around>
            <aop:after-throwing method="throwReturning" pointcut="execution(public void org.example.aop.*.*())"></aop:after-throwing>
        </aop:aspect>
<!-- 切面，切点，通知-->
    </aop:config>
</beans>